{% extends "./base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "informace/style.css" %}">

{% endblock %}


{% block title %}
city
{% endblock %}

{% block hlavni %}


    <main>
    <div>
        <h2>{{ nadpis|capfirst }}</h2>
        <p>{{nadpis|capfirst}} je hlavním městem {{city.kraj|capfirst}}, má rozlohu {{city.rozloha}} km² a {{city.pocet}} obyvatelů. </p>
        <p>{{ popis }}</p>

       

    </div>

    <a href="{% url "seznam_city" %}"> Seznam měst v Litvě </a>
    <br></br>
    <a href="{% url 'hlavni' %}">Hlavní stránka</a>

    </main>

    <footer>
    </footer>

    
{% endblock %}